/* Основные стили */
body {
    display: flex;
    justify-content: center;
    background-color: #0D0D0D;
    overflow-x: hidden;
}

.containerPage {
    width: 1250px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #262626;
    border-radius: 0px 0px 10px 10px;
    transition: height 1s ease;
}

.actionHeader {
    display: flex;
    gap: 10px;
}

.actionHeader a {
    transition: color 500ms ease;
}

.actionHeader a:hover {
    color: #8C8C8C;
}

.mainContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.containerInInformation {
    background-color: #404040;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionBlock {
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 150px;
    border-radius: 10px;
    background-color: #8C8C8C;
    transition: width 1s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    
    margin-left: auto;
}

.blockWidth {
    width: 0px;
    
}

.sectionBlockTwo {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
    height: 150px;
    border-radius: 10px;
    background-color: #8C8C8C;
    transition: width 1s ease-in-out;
    overflow: hidden;
    
    white-space: nowrap;
    
    margin-right: auto;
}

.containerSecionAndImg {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerSecionAndImg img {
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
}

.homeContainerDeveloper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 100px;
}

.containerDeveloper {
    display: flex;
    margin-bottom: 10px;
}

.developerInformation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockProgrammingWidth {
    width: 20%;
}

.language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-right: 50px;
}

.languageReact {
    width: 100%;
    height: 50px;
    background-color: rgb(9, 124, 255);
    border-radius: 10px;
}

.blockLanguage {
    margin-bottom: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 10px;
    transition: width 500ms ease;
}



.nameLanguage {
    font-size: 20px;
}

.ProgrammingLanguages {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    transition: width 500ms ease;
}

footer {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
}

.modalBackground {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    display: none;
    height: 100%;
    cursor: pointer;
    z-index: 0;
}

.modalActive {
    position: absolute;
    width: 350px;
    height: 55px;
    top: calc(50% - 85px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}

.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modalWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.modalWindow span {
    margin: 5px;
}

.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}